<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
  
	<!-- <context:component-scan base-package="org.crce.interns"/> -->
	<context:component-scan base-package="org.crce.interns.beans" />
	<context:component-scan base-package="org.crce.interns.controller" />
	<context:component-scan base-package="org.crce.interns.dao" />
	<context:component-scan base-package="org.crce.interns.model" />
	<context:component-scan base-package="org.crce.interns.service" />
	<context:component-scan base-package="org.crce.interns.validator" />
	<mvc:annotation-driven/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/message_en" />
		<property name="cacheSeconds" value="1" />
	</bean>
	
	<bean id="addTPCValidator" class="org.crce.interns.validator.AddTPCValidator" />
	<bean id="rvmTPCValidator" class="org.crce.interns.validator.RemoveTPCValidator" />

	<bean id="userService"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl"
			value="http://localhost:8080/AddTPC_AppServer/insertUser.http"></property>
		<property name="serviceInterface" value="org.crce.interns.service.UserService"></property>
	</bean>

</beans>